<!DOCTYPE html>
<html lang="es">

<%- include ('partials/head', {titulo})  %>

<body>

    <!-- header -->
    <%- include('./partials/header1')  %>
    <!--  -->

    <main class="home-container flex">
        <!-- banner -->
        <div class="banner">
            <img src="./design/images/products/banner-carrousel.png" alt="banner">
        </div>

        <!-- seccion principal -->
        <div class="main-section flex">
            <!-- peliculas -->
            <section class="container-articles flex">

                <% peliculas.forEach(pelicula => { %>
                <article class="article flex">
                    <div class="img-container flex">
                        <button class="btn-play" id="<%= pelicula.id %> ">
                            <img src="./design/images/icons/play-circle-regular.png" alt="" onclick="alert('mirate este trailer de <%= pelicula.nombre %>')">
                        </button>
                        <img src="./design/images/products/<%= pelicula.imagen %> " alt="articulo">
                    </div>
                    <div class="data-article flex">
                        <a href="/products/detail/<%= pelicula.id %>">
                            <h4 class="titulo noun"><%= pelicula.nombre %></h4>
                            <div class="footer-article flex">
                                <i class="<%= false? 'fas' : 'far' %>  fa-heart"></i>
                                <span class="precio">$ <%= pelicula.precio %> </span>
                            </div>
                        </a>
                    </div>
                </article>
                <% }) %>

            </section>

            <!-- navbar -->
            <div class="container-nav">
                <nav class="nav-bar flex">
                    <div class="contain-category">
                        <div class="title">
                            <h2>CATEGORIAS</h2>
                        </div>
                        <ul class="list">
                            <% generos.forEach(genero => { %>
                            <li><a href="peliculas/:<%= genero.nombre %>"><%= genero.nombre %></a></li>
                            <% }) %>
                        </ul>
                    </div>

                    <div class="contain-category">
                        <div class="title">
                            <h2>AÑO</h2>
                        </div>
                        <ul id="anios" class="list">
                            <% anios.forEach(anio => { %>
                            <li><a href="#"><%= anio %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

    </main>
    <%- include('partials/footer1')  %>

</body>

</html>