<!DOCTYPE html>
<html lang="es">

<%- include ('partials/head', {titulo})  %>

<body>

    <!-- header -->
    <%- include('./partials/header1')  %>
    <!--  -->

    <main class="home-container flex">
        <!-- banner -->
        <div class="banner">
            <img src="./design/images/products/banner-carrousel.png" alt="banner">
        </div>

        <!-- seccion principal -->
        <div class="main-section flex">
            <!-- peliculas -->
            <section class="container-articles flex">

                <% peliculas.forEach(pelicula => { %>
                <article class="article flex">
                    <div class="img-container flex">
                        <button class="btn-play" id="<%= pelicula.id %> ">
                            <img src="./design/images/icons/play-circle-regular.png" alt=""
                                onclick="alert('mirate este trailer de <%= pelicula.name %>')">
                        </button>
                        <img src="./design/images/products/<%= pelicula.image %> " alt="articulo">
                    </div>
                    <div class="data-article flex">
                        <a href="/products/detail/<%= pelicula.id %>">
                            <h4 class="titulo noun"><%= pelicula.name %></h4>
                            <div class="footer-article flex">
                                <i class="<%= favorites.includes(pelicula.id) ? 'fas' : 'far' %>  fa-heart"></i>
                                <span class="precio">$ <%= pelicula.price %> </span>
                            </div>
                        </a>
                    </div>
                </article>
                <% }) %>

            </section>

            <!-- navbar -->
            <div class="container-nav in">
                <nav class="nav-bar flex">
                    <div class="contain-category">
                        <div class="title">
                            <h2>CATEGORIAS</h2>
                        </div>
                        <ul class="list">
                            <% generos.forEach(genero => { %>
                            <li><button id="<%= genero.id %>"><%= genero.name %></button></li>
                            <% }) %>
                        </ul>
                    </div>

                    <div class="contain-category">
                        <div class="title">
                            <h2>AÑO</h2>
                        </div>
                        <ul id="anios" class="list">
                            <% anios.forEach(anio => { %>
                            <li><a href="#"><%= anio %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

    </main>
    <%- include('partials/footer1')  %>

    <template id="model-card">
        <article class="article flex">
            <div class="img-container flex">
                <button class="btn-play">
                    <img src="./design/images/icons/play-circle-regular.png" alt=""
                        onclick="alert('mirate este trailer de')">
                </button>
                <img id="template-img" alt="articulo">
            </div>
            <div class="data-article flex">
                <a>
                    <h4 class="titulo noun"></h4>
                    <div class="footer-article flex">
                        <i class="far fa-heart"></i>
                        <span class="precio" </span> </div> </a> </div> </article> </template> <!-- funcion que filtra
                            por las peliculas segun el genero indicado y -->
                            <script>
                                function filterMovies(event) {

                                    const $containerMovies = document.querySelector('section.container-articles');
                                    let id = event.target.getAttribute('id')
                                    $containerMovies.classList.add('loading')
                                    fetch(`/peliculas/${id}`, {
                                            method: 'GET',
                                            headers: {
                                                'Content-type': 'application/json'
                                            }
                                        })
                                        .then(res => res.json())
                                        .then(data => {
                                            const $template = document.querySelector('#model-card').content,
                                                $fragment = document.createDocumentFragment();

                                            console.log($template)

                                            data.forEach(register => {
                                                $template.querySelector('#template-img').setAttribute('src',
                                                    `./design/images/products/${register.image}`);
                                                $template.querySelector('.data-article a').setAttribute(
                                                    'href', `/products/detail/${register.id}`);
                                                $template.querySelector('.data-article a .titulo')
                                                    .textContent = register.name;
                                                $template.querySelector('.data-article a .precio')
                                                    .textContent = `$ ${register.price}`

                                                let $clon = document.importNode($template, true);
                                                $fragment.appendChild($clon)
                                            });

                                            $containerMovies.innerHTML = "";
                                            $containerMovies.appendChild($fragment);
                                            $containerMovies.classList.remove('loading')
                                        })
                                        .catch(err => {
                                            console.log(err)
                                        })

                                        let $navBar = document.querySelector('main .container-nav');
                                        if($navBar.classList.contains('active')){
                                            $navBar.classList.remove('active');
                                        }


                                }

                                let $allCategories = document.querySelectorAll('.container-nav .list li');
                                $allCategories.forEach(a => {
                                    a.addEventListener('click', filterMovies)
                                })
                            </script>

                            <!-- funcion que maneja el menu desplegable del navBar -->
                            <script>
                                const $btnMenu = document.querySelector('header .sub-menu'),
                                    $navBar = document.querySelector('.container-nav.in')

                                function togle() {
                                    $navBar.classList.toggle('active');
                                }

                                $btnMenu.addEventListener('click', togle);
                            </script>
</body>

</html>