

<!DOCTYPE html>
<html>

  <%- include ('./partials/head') %> 

<body>
  <main class="login-container">

      <article class="fondo">
        <div class="aux">
          <a href="/"><img src="/design/images/icons/icon-user-profile.png" alt="User"></a>
        </div>

        <form class="aux" action="/user/userProfile" method="POST">
          <span class="icon-user"></span><input class="inp" type="email" name="email" placeholder="USUARIO"><br>
          <% if (locals.errors && errors.email) { %>
            <small class="text-danger"> <%= errors.email.msg %>  </small>
        <% } %>
          <span class="icon-key"></span>
          <input class="inp" type="password" name="pass" value="" placeholder="CONTRASEÑA"><br>
          <% if (locals.errors && errors.pass) { %>
            <small class="text-danger"> <%= errors.pass.msg %>  </small>
        <% } %>

        <% if (locals.errors && errors.custom) { %>
          <small class="text-danger"> <%= errors.custom.msg %>  </small>
        <% } %>

         <div>
          
          <input type="checkbox" name="remember" id="check">
          <label for="check">Recordar</label>
        <br>
        <span>
         <button class="btn btn-submit" type="submit">INICIAR SESION</button>
        </span>
        </div>

        
      </form>

        
  
     <!-- <div id="redes-container">

          <a href="https://www.facebook.com" id="loginboxredes"><img src="/design/images/icons/logofacebook.png"></a>
          <a href="https://www.instagram.com" id="loginboxredes"><img src="/design/images/icons/logoinstagram.png"></a>
          <a href="https://www.google.com" id="loginboxredes"><img src="/design/images/icons/logogoogle.png"></a>
      </div>-->

   
  </article>

  </main>
  <%-include('./partials/footer1')%>
</body>

</html>