<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head', {titulo: product.name})%>

<body class="pd">
    <%- include('./partials/header1')%>
    <main>
        <section class="flexpd-row">
            <section class="detalle-izq">
                <article class="pd">


                    <h4>Elenco</h4>

                    <div>
                        <p><%= product.elenco %></p>
                    </div>
                </article>
                <article class="pd">
                    <h4>Direccion</h4>

                    <div>
                        <p><%= product.elenco %></p>

                    </div>
                </article>
            </section>
            <section class="pd-container flexpd ">

                <div class="flexpd-row">
                    <img class="imgpd" src="/design/images/products/<%= product.image %> ">
                </div>

            </section>
            <section class="pd-container flexpd">
                <div class="flexpd-item-pd-container">
                    <article class="pd">
                        <h3><%= product.name %> </h3>
                        <hr>
                        <h3>Sinopsis</h3>
                        <p class="pd"><%= product.description %> <p>

                                <div class="infoprod">
                                    <ul>
                                        <li>Categoria: Acción</li>
                                        <li>Reparto:</li>
                                        <li>Duración:120 min.</li>
                                    </ul>

                                </div>
                                <div class="data-articulopd flexpd">
                                    <span>
                                        <h3>$ <%= product.price %> </h3>
                                    </span>

                                    <a href="carrito.ejs"><i class="fas fa-shopping-cart"
                                            style="width: 30%;height: 30%;"></i></a>
                                </div>
                    </article>
                </div>
            </section>
        </section>

        <section class="extras-flexpd">
            <section>
                <h3>RELACIONADOS</h3>

            </section>
    </main>
    <%- include ("./partials/footer1")%>


<script src="/js/productDetail.js"></script>
    <script src="/js/product-slider.js"></script>
    <!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>

</html>