<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head', {titulo: movie.name})%>

<body class="product-detail">

    <%- include('./partials/header1')%>

    <main>
        <section class="container flex pd-row">
            <article class="pd-container flex">
                <!-- <article class="pd"> -->
                <div class="detail">
                    <div class="title-movie">
                        <h2><%= movie.name %> </h2>
                        <div class="line"></div>
                    </div>
                    <div class="info">
                        <div class="image-movie">
                            <img src="/design/images/products/<%= movie.image %>" alt="">
                        </div>
                        <div class="feature">
                            <div class="data-movie">
                                <div class="data separated">
                                    <span class=""><%= movie.age %> </span>
                                </div>
                                <div class="data separated">
                                    <span class=""><%= movie.duration %> min.</span>
                                </div>
                                <% genresMovie.forEach((genre, index) => { %>
                                <a class="data <%= index+1!=genresMovie.length?"separated":"" %>"><%= genre.name %></a>
                                <% }) %>
                            </div>
                            <div class="data casting">
                                Direccion:
                                <%= movie.director %>
                            </div>
                            <div class="data casting">
                                Reparto:
                                <%= movie.director %>
                            </div>
                        </div>
                    </div>
                    <div class="info-sell">
                        <div class="wish"><i class="far fa-heart"></i></div>
                        <div class="buy">
                            <a href="/user/carrito">COMPRAR</a>
                        </div>
                        <div class="data">
                            <% if (movie.discount) { %>
                            <small>$<%= movie.price-(movie.price*movie.discount/100) %></small>
                            <% } %>
                            <span class="<%= movie.discount?"in-sale":"" %> ">$<%= movie.price %> </span>
                        </div>
                    </div>
                    <i class="line"> </i>
            </article>
            <article class="pd-container flexpd ">
                <div class="sinopsis">
                    <p class="pd"><%= movie.description %> <p>
                </div>
                <div class="flexpd-row">

                    <iframe class="imgpd" src="https://www.youtube.com/embed/5Fgq4Osh6XQ" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <!-- <iframe src="https://www.youtube.com/embed/5Fgq4Osh6XQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

                    <!--<img class="imgpd" src="/design/images/products/ ">-->
                </div>

            </article>
        </section>

    </main>

    <%- include ("./partials/footer1")%>


    <script src="/js/productDetail.js"></script>
    <script src="/js/product-slider.js"></script>
    <!-- JavaScript -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>

</html>