<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree Movie - register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main class="register-form">
    <div class="capa-fondo">
        <img src="/design/images/icons/logo.png " alt="">
        <div class="form-container">
            <h1>Registro</h1>
            <hr>
<<<<<<< HEAD
            <form action="/register" method="POST" enctype="multipart/form-data" class="form-ad" >
=======
            <form action="/views/register" method="POST" enctype="multipart/form-data" class="form-ad" >
>>>>>>> 6cedff207e0759a5031935b2940b63a9de46d6b3
                <div class="form">

        

                    <div class="input-container">
                        <input class="input-style" type="name" name="nombre" placeholder="Ingrese su nombre" value="<%= locals.old && old.name %>">
                        <% if (typeof errors != "undefined" && errors.nombre) { %>
                            <span class="text-danger"><%= errors.nombre.msg %> </span>
                        <% } %>

                      
                    </div>



                    <div class="input-container">
                        <input class="input-style" type="surname" name="apellido" placeholder="Ingrese su apellido" value="<%= locals.old && old.last_name %>">
                        <% if (typeof errors != "undefined" && errors.apellido) { %>
                            <span class="text-danger"><%= errors.apellido.msg %> </span>
                        <% } %>


                    </div>
                    
                    <div class="input-container">
                        <input class="input-style" type="email" name="email" placeholder="Ingrese su email" value="<%= locals.old && old.email %>">
                        <% if (typeof errors != "undefined" && errors.email) { %>
                            <span class="text-danger"><%= errors.email.msg %> </span>
                        <% } %>
                    </div>
                    <div class="input-container">
                        <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                        <% if (typeof errors != "undefined" && errors.pass) { %>
                            <span class="text-danger"><%= errors.pass.msg %> </span>
                        <% } %>
                    </div>
    
                    </div>
                    <div class="input-file">
                        <h1>Agregar Avatar</h1>
                        <input type="file" name="avatarimage">
                        <% if (locals.errors && errors.image) { %>
                            <small class="text-danger"><%= errors.avatarimage.msg %> </small>
                        <% } %>
                       
                    </div>
                    <div class="check">
                        <label for="terms">Acepto los <a href="">términos y condiciones</a></label>
                        <input type="checkbox" name="terms" id="terms">
                        <span class="error-message">Debes aceptar los términos y condiciones</span>
                        <% if (locals.errors && errors.terms) { %>
                            <small class="text-danger"><%= errors.terms.msg %> </small>
                        <% } %>
                    </div>
                    <div class="button-container">
                        <span class="error-message">Hubo errores en el envío</span>
                        <button type="submit" href="/view/home"class="btn btn-submit">Registrarme</button>
                    </div>
<<<<<<< HEAD
                    <a class="he" href="login">Ya tengo cuenta</a>
=======
                    <a class="he" href="/view/login">Ya tengo cuenta</a>
>>>>>>> 6cedff207e0759a5031935b2940b63a9de46d6b3
                
                </div>
            </main>

           <%- include('partials/footer1') %>  
           
        </form>
        </div>
    </div>
</body>

</html>