<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head', {titulo: "TRIMOVIE - Perfil de usuario"}) %>
<body>
    <%- include('partials/header1')%>
    <main class="register-form">
    <div class="capa-fondo">
        <img src="/design/images/icons/logo.png " alt="">
        <div class="flexpd" style="width: 55%;">
            <h1>Te damos la benvenida, <%= session.name %> </h1>
            <hr>
            <div class="avatar">
                <img src="design/images/avatars/<%= session.avatar %>" alt="">
            </div>   

          <h1>Datos personales</h1>  
        <ul>
          <li><p id="name">Nombre:</p> <%= session.name %> <input type="button" value="editar">  </li>
          <li><p>Apellido:</p> <%= session.lastname %> <input type="button" value="editar"> </li>
          <li><p>Email:</p> <%= session.email %> <input type="button" value="editar"> </li>
          <li><p>Rol:</p> <%= session.rol %> <input type="button" value="editar"> </li>
          <li><p>Contraseña:</p> <p>***********</p> <input type="button" value="Cambiar contraseña"> </li>
        </ul>
        </div>

        
       
    </div>
    <script src="js/editUser.js"></script>
</main>
           <%- include('partials/footer1') %>  

</body>

</html>